## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto - Notebook 1

**Author: Rachid de Graaff**

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests 
from bs4 import BeautifulSoup 

print('Libraries imported.')

Libraries imported.

First, let's scrape the data from the designated page

In [0]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
bsoup = BeautifulSoup(url,'lxml')

Task 1:  The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [30]:
#Prep the dataframe
table_post = bsoup.find('table')
fields = table_post.find_all('td')

postalcode = []
borough = []
neighbourhood = []

for i in range(0, len(fields), 3):
    postcode.append(fields[i].text.strip())
    borough.append(fields[i+1].text.strip())
    neighbourhood.append(fields[i+2].text.strip())
        
df_pc = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df_pc.columns = ['Postalcode', 'Borough', 'Neighbourhood']
df_pc.head()

  Postalcode           Borough               Neighbourhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

Task 2: Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [31]:
#Remove not assigned postalcode
df_pc['Borough'].replace('Not assigned', np.nan, inplace=True)
df_pc.dropna(subset=['Borough'], inplace=True)

df_pc.head()

  Postalcode           Borough                                 Neighbourhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Task 3: More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [33]:
df_pcn = df_pc.groupby(['Postalcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_pcn.columns = ['Postalcode', 'Borough', 'Neighbourhood']
df_pcn

    Postalcode      Borough                                      Neighbourhood
0          M1B  Scarborough                                    Malvern / Rouge
1          M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2          M1E  Scarborough                Guildwood / Morningside / West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
101        M9V    Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [34]:
#Replace the not assigned neighborhood for Queens park
df_pcn['Neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)

df_pcn

    Postalcode      Borough                                      Neighbourhood
0          M1B  Scarborough                                    Malvern / Rouge
1          M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2          M1E  Scarborough                Guildwood / Morningside / West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
101        M9V    Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [35]:
df_pcn.shape

(103, 3)